
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family:  Arial, "Noto Sans", sans-serif;
}

body {
    --bg-color: #FAFFFF;
    background-color: var(--bg-color);
    background: linear-gradient(247deg, rgba(232,251,255,1) 0%, rgba(250,255,255,1) 50%);
}

.main-page {
  margin: auto 2rem;
  padding: 2rem;
}

.section-title {
    --border-color: #2EBDF5; 
    border-bottom: 0.5vh var(--border-color) solid;
}

.main-title .star-font {
    --font-color: #2EBDF5;
    color: var(--font-color);
}

.section-title h1 {
    font-size: 4vh;
}

.section-title p {
    font-size: 2.6vh;
}

footer {
    display: flex;
    flex-direction: row;
    border-top: 2px gray solid;
}

footer > div {
    padding: 1rem 2rem;
}
